<div class="row mt-3 mb-3">
  <div class="col-md-6">
    <%= link_to 'Conectar con Pocket', connect_oauth_index_path, class: 'btn btn-lg btn-primary' %>
  </div>
  <div class="col-md-6">
    <%= link_to 'Conectar con Hootsuite', connect_oauth_index_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>

